/**** Colors of the clock and theme ****/
:root {
  --led-color: #64ccc3;
  --dark-theme-color: #1D1F20;
  --light-theme-color: #EFEFEF;
}

/**** General reset ****/
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

html, body { 
  width: 100%;
  height: 100%;
}

/**** Flex components ****/
body,
header,
#clock-wrapper,
#hours-group,
#minutes-group,
#seconds-group,
.colon,
label  {
  display: flex;
  justify-content: center;
  align-items: center;
}

/**** Fonts ****/
h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
}

/**** Layout ****/
body {
  background-color:var(--dark-theme-color);
  flex-direction: column;
  position: absolute;
}

header {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#clock-wrapper {
  height: calc(100vh - 80px);
  position: absolute;
  bottom: 0;
  text-align: center;
}

/**** Clock layout ****/
#hours-group,
#minutes-group,
#seconds-group {
  position: relative;
  width: 180px;
  height: 160px;
}

/**** Clock components ****/
.digit {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 160px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: left;
}

.colon {
  position: relative;
  flex-direction: column;
  text-align: center;
  width: 50px;
  height: 160px;
  text-align: center;
}

.led {
  position: absolute;
  opacity: 0.06;
  border-radius:5px;
  transition: opacity 0.3s;
  -webkit-transition:opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s; 
  box-shadow: 0 0 50px rgba(100,199,204, 0.5);
}

/**** Clock vertical and horizontal segments ****/
.vertical {
  width: 10px; 
  height: 60px;
  background-color: var(--led-color);
  border-radius:5px;
}

.horizontal {
  width: 60px; 
  height: 10px;
  background-color: var(--led-color);
  border-radius:5px;
}

/**** Top segments ****/
.top {
  top: 6px;
  left: 11px;
}

.top.left {
  top: 15px;
  left: 0;
}

.top.right {
  top: 7px;
  left: 72px;
  margin-top: 8px;
}

/**** Middle segments ****/
.middle {
  top: 74px;
  left: 11px;
}

/**** Bottom segments ****/
.bottom.left {
  top: 84px;
  left: 0;
}

.bottom.right {
  top: 84px;
  left: 72px;
}

.bottom {
  top: 143px;
  left: 11px;
}

/**** Point separators ****/
.top-point,
.bottom-point {
  background-color: var(--led-color);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 5px;
}

/**** DIGITS ****/
/**** Zero ****/
.zero * {
  opacity: 1;
}

.zero .middle {
  opacity: 0.06;
}

/**** One ****/
.one * {
  opacity: 0.06;
}

.one .top.right,
.one .bottom.right {
  opacity: 1;
}

/**** Two ****/
.two * {
  opacity: 1;
}

.two .top.left,
.two .bottom.right {
  opacity: 0.06;
}

/**** Three ****/
.three * {
  opacity: 1;
}

.three .top.left,
.three .bottom.left {
  opacity: 0.06;
}

/**** Four ****/
.four .top,
.four .bottom {
  opacity: 0.06;
}

.four .top.right,
.four .top.left,
.four .middle,
.four .bottom.right {
  opacity: 1;
}

/**** Five ****/
.five * {
  opacity: 1;
}

.five .top.right,
.five .bottom.left {
  opacity: 0.06;
}

/**** Six ****/
.six * {
  opacity: 1;
}

.six .top.right {
  opacity: 0.06;
}

/**** Seven ****/
.seven * {
  opacity: 0.06;
}

.seven .top,
.seven .bottom.right {
  opacity: 1;
}

.seven .top.left {
  opacity: 0.06;
}

/**** Eight ****/
.eight * {
  opacity: 1;
}

/**** Nine ****/
.nine * {
  opacity: 1;
}

.nine .bottom.left {
  opacity: 0.06;
}
/**** END DIGITS ****/

/**** Themes switcher ****/
label {
  margin: 20px;
}

#switch {
  width: 100px;
  background: rgba(128, 128, 128, 0.2);
  position: relative;
  height: 48px;
  border-radius: 25px;
  cursor: pointer;
  transition: all .25s ease;
}

.input {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

#switch:hover {
  background: rgba(99, 107, 144,.25);
}

#circle {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 5px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: rgb(99, 134, 144);
  transition: all .25s ease;
  box-shadow: 0px 10px 20px 0px rgba(99, 134, 144,.35);
  opacity: .4;
}

/**** Switcher active ****/
.input:checked ~ #circle {
  left: 52px;
  opacity: 1;
}

/**** Light background theme and light color ****/
.light {
  background-color: var(--light-theme-color);
  transition: ease 0.5s;
}

.light-text {
  color: var(--light-theme-color);
  transition: ease 0.5s;
}

/**** Dark background theme and light color ****/
.dark {
  background-color: var(--dark-theme-color);
  transition: ease 0.5s;
}

.dark-text {
  color: var(--dark-theme-color);
  transition: ease 0.5s;
}

/**** Responsive ****/
@media only screen and (max-width: 500px) {
  h3 {
    font-size: 20px;
  }

  #clock-wrapper {
    flex-direction: column;
    justify-content: flex-end;
    transform: scale(0.9);
    transform-origin: center;
  }

  .colon {
    width: 100%;
    height: 50px;
    flex-direction: row;
  }

  label {
    margin: 10px;
  }
  .top-point,
  .bottom-point {
    width: 10px;
    height: 10px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
  h3 {
    font-size: 20px;
  }
  
  #clock-wrapper {
    transform: scale(0.8);
    transform-origin: center;
  }
}