/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { 
  width: 100%;
  height: 100%;
}

body {
  background-color: #1D1F20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

header {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-family: 'Quicksand', sans-serif;
}

.clock-wrapper {
  height: calc(100vh - 80px);
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#hours-group,
#minutes-group,
#seconds-group {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 184px;
}

.digit {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 160px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: left;
}

.colon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 160px;
  text-align: center;
}

.led {
  position: absolute;
  opacity: 0.06;
  border-radius:5px;
  transition: opacity 0.3s;
  -webkit-transition:opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s; 
  box-shadow: 0 0 50px rgba(100,199,204, 0.5);
}

.vertical {
  width: 10px; 
  height: 60px;
  background-color: #64C7CC;
  border-radius:5px;
}

.horizontal {
  width: 60px; 
  height: 10px;
  background-color: #64C7CC;
  border-radius:5px;
}

.top {
  top: 6px;
  left: 11px;
}

.top.left {
  top: 15px;
  left: 0;
}

.top.right {
  top: 7px;
  left: 72px;
  margin-top: 8px;
}

.middle {
  top: 74px;
  left: 11px;
}

.bottom.left {
  top: 84px;
  left: 0;
}

.bottom.right {
  top: 84px;
  left: 72px;
}

.bottom {
  top: 143px;
  left: 11px;
}

.top-point,
.bottom-point {
  background-color: #64C7CC;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 5px;
}

.zero * {
  opacity: 1;
}

.zero .middle {
  opacity: 0.06;
}

.one * {
  opacity: 0.06;
}

.one .top.right,
.one .bottom.right {
  opacity: 1;
}

.two * {
  opacity: 1;
}

.two .top.left,
.two .bottom.right {
  opacity: 0.06;
}

.three * {
  opacity: 1;
}

.three .top.left,
.three .bottom.left {
  opacity: 0.06;
}

.four .top,
.four .bottom {
  opacity: 0.06;
}

.four .top.right,
.four .top.left,
.four .middle,
.four .bottom.right {
  opacity: 1;
}

.five * {
  opacity: 1;
}

.five .top.right,
.five .bottom.left {
  opacity: 0.06;
}

.six * {
  opacity: 1;
}

.six .top.right {
  opacity: 0.06;
}

.seven * {
  opacity: 0.06;
}

.seven .top,
.seven .bottom.right {
  opacity: 1;
}

.seven .top.left {
  opacity: 0.06;
}

.eight * {
  opacity: 1;
}

.nine * {
  opacity: 1;
}

.nine .bottom.left {
  opacity: 0.06;
}

label {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.con-switch {
  width: 100px;
  background: rgba(99, 107, 144,.15);
  position: relative;
  height: 48px;
  border-radius: 25px;
  cursor: pointer;
  transition: all .25s ease;
}
.con-switch:active .circle{
  width: 50px;
}
.con-switch:active  .input:checked ~ .circle {
  left: 40px;
}
    
.input {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.con-switch:hover {
  background: rgba(99, 107, 144,.25);
}

.input:checked ~ .circle {
  left: 52px;
  opacity: 1;
}

.circle {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 5px;
  width: 38px;
  height: 38px;
  border-radius: 20px;
  background: rgb(99 107 144);
  transition: all .25s ease;
  box-shadow: 0px 10px 20px 0px rgba(99, 107, 144,.35);
  opacity: .4;
}

.light {
  background-color: #efefef;
  transition: ease 0.5s;
}

.light-text {
  color: #efefef;
  transition: ease 0.5s;
}

.dark {
  background-color: #1D1F20;
  transition: ease 0.5s;
}

.dark-text {
  color: #1D1F20;
  transition: ease 0.5s;
}

@media only screen and (max-width: 500px) {
  .clock-wrapper {
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .colon {
    width: 100%;
    height: 50px;
  }

  label {
    margin: 10px;
  }
}